<app-container-nav currentRoute="Medewerkers">
    <div>
        <div class="p-5 flex justify-end">
            <a routerLink="/employees/new" class="bg-blue-500 py-2 rounded-md px-5 text-white text-sm">
                + &nbsp; Nieuwe Medewerker
            </a>
        </div>
        <div class="p-5">
            <table class="w-full">
                <thead>
                    <tr>
                        <th *ngFor="let colName of employeeTableColNames; first as isFirst;"
                            class="text-xs text-left pr-7 border-b border-primary-color-gray-light py-2"
                            [ngClass]="{'pl-2': isFirst}">
                                {{colName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees" [routerLink]="['/employees', employee.id]"
                        class="border-b border-primary-color-gray-lighter h-11 cursor-pointer hover:bg-blue-100">
                        <td class="text-sm pl-2">{{employee.id}}</td>
                        <td class="text-sm pr-7">{{employee.employeeNumber}}</td>
                        <td class="text-sm pr-7">{{employee.firstName}}</td>
                        <td class="text-sm pr-7">{{employee.lastName}}</td>
                        <td class="text-sm pr-7">{{employee.emailAddress}}</td>
                        <td class="text-sm pr-7">{{employee.gender}}</td>
                        <td class="text-sm pr-7">{{employee.unitsPerHour}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-container-nav>