<a [routerLink]="routerUrl" class="fixed top-0 right-0 h-screen bg-black/50 w-full shadow cursor-pointer"></a>

<div class="py-4 fixed top-0 right-0 w-1/2 px-5 bg-gray-100 flex justify-between">
    <h1 *ngIf="isNew" class="text-lg font-medium">Nieuwe {{newTitle}}</h1>
    <h1 *ngIf="!isNew" class="text-lg font-medium">{{idTitle}} #{{id}}</h1>
    <div class="gap-x-5 flex px-5">
        <button *ngIf="isNew" (click)="onSaveButtonClicked()" class="px-10 text-sm rounded-md py-1.5 bg-blue-500 text-white">Opslaan</button>
        <button *ngIf="!isNew" (click)="onUpdateButtonClicked()" class="px-10 text-sm rounded-md py-1.5 bg-blue-500 text-white">Update</button>
        <button *ngIf="!isNew" (click)="onDeleteButtonClicked()" class="px-10 text-sm rounded-md py-1.5 bg-red-600 text-white">Verwijder</button>
    </div>
</div>

<div class="bg-white min-h-screen h-full fixed z-10 w-1/2 right-0 top-0 mt-14 pb-14 overflow-y-auto">
    <ng-content></ng-content>
</div>