<app-container-nav currentRoute="Orders">
    <div>
        <div class="p-5 flex justify-end">
            <a routerLink="/orders/new" class="bg-blue-500 py-2 rounded-md px-5 text-white text-sm">
                + &nbsp; Nieuwe Order
            </a>
        </div>
        <div class="p-5">
            <table class="w-full">
                <thead>
                    <tr>
                        <th *ngFor="let colName of orderTableColNames; first as isFirst;" 
                            class="text-xs text-left pr-7 border-b border-primary-color-gray-light py-2"
                            [ngClass]="{'pl-2': isFirst}">
                                {{colName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" [routerLink]="['/orders', order.id]"
                        class="border-b border-primary-color-gray-lighter h-11 cursor-pointer hover:bg-blue-100">
                        <td class="text-sm pl-2">{{order.id}}</td>
                        <td class="text-sm pr-7">{{order.orderNumber}}</td>
                        <td class="text-sm pr-7">{{order.customerGroup}}</td>
                        <td class="text-sm pr-7">{{order.status}}</td>
                        <td class="text-sm pr-7">{{order.product}}</td>
                        <td class="text-sm pr-7">{{order.fabricName}}</td>
                        <td class="text-sm pr-7">{{order.ready}}</td>
                        <td class="text-sm pr-7">{{order.shiftId}}</td>
                        <td class="text-sm pr-7">{{order.units}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-container-nav>

